<p><%= notice %></p>
<h1>ブログ一覧</h1>
<%= link_to "作成", new_blog_path %>
<% @blogs.each do |blog| %>
  <p>タイトル:<%= blog.title %></p>
  <p>本文:<%= blog.content %></p>
  <%= link_to "編集", edit_blog_path(blog.id) %>
  <%= link_to '削除', blog_path(blog.id), method: :delete, data: {confirm: '削除してもよろしいですか？'} %>
<% end %>

